%header.cell
  = link_to (image_tag 'haml.png', alt: 'Haml'), '/', {:class => 'logo'}
  %ul
    %li= link_to 'О Haml', '/about.html'
    %li= link_to 'Руководство', '/tutorial.html'
    %li= link_to 'Документация', '/documentation/'
    -# %li= link 'Блог', 'http://haml.tumblr.com/'
    %li= link_to 'Помощь', '/help.html'
